<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="a4eb11d5-6659-4a9b-b834-5263f96b6211"
            Publisher="CN=bph"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="cabf5687-5def-47f4-965d-4bf6e4bf72aa" PhonePublisherId="382a6e23-1707-49be-991b-8ee3d123e78d"/>

  <Properties>
    <DisplayName>BestSellers.WindowsPhone</DisplayName>
    <PublisherDisplayName>bph</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="xcabf5687y5defy47f4y965dy4bf6e4bf72aax"
        Executable="AGHost.exe"
        EntryPoint="/StartupPage.xaml">
      <m3:VisualElements
          DisplayName="BestSellers.WindowsPhone"
          Square150x150Logo="Assets\SquareTile150x150.png"
          Square44x44Logo="Assets\Logo.png"
          Description="BestSellers.WindowsPhone"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png"/>
        <m3:SplashScreen Image="SplashScreenImage.jpg" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
          <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>